fastapi==0.115.6
uvicorn[standard]==0.34.0
torch
transformers==4.47.1
librosa==0.10.2.post1
soundfile==0.12.1
numpy==1.26.4
scikit-learn==1.6.0
matplotlib==3.10.0
python-multipart==0.0.20
webrtcvad-wheels==2.0.14
safetensors==0.4.5
